/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset float */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

html{
    font-family: ;
}

body{
    background-color: white; 
    text-align: center;
}

main{
    width: 70%;
    margin: 0 auto;
}

header{
    margin: 30px 0 30px 0; 
}

p{
    margin: 50px;
}

.photo{
    float: left;
    height: 100%;
}

.photo{
    background-image: url(../assets/img/female1.png);
    background-size: cover;
    width: 33%; 
    height: 100%;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.container{
    background-color: black;
    width: calc(100% / 3) - (10px * 2); 
    height: 130px;
    margin: 10px;
}

.info{
    color: white; 
    text-align: left;
    padding: 30px;
}

.name, .occupation, .mail{
    line-height: 8px;
}